* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #111111;
  --black_1: #202024;
  --grey: #b4afaf;
  --lighygrey: #e0e0e0;
  --violet: #4f2ee8;
  --white: #ffffff;

  --font-size-extrabig: 48px;
  --font-size-big: 32px;
  --font-size-normal: 22px;
  --font-size-normal_1: 18px;
  --font-size-small: 16px;
  --fint-size-small_1: 14px;
  --font-size-small_2: 12px;
}

img {
  border-radius: 8px;
}

.visible-flex {
  display: flex;
}
.visible-block {
  display: block;
}
.novisible {
  display: none;
}

////---slider///
$mainColorSlider: #4f2ee8;
$backgroundSlider: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #ffffff 100%)
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
