$colors: (
    'black': #111111,
    'black 1': #202024,
    'grey': #b4afaf,
    'lightgrey':#e0e0e0,
    'violet': #4f2ee8,
    'yellow': #eac645,
    'white': #ffffff,
);

$font-primary: "DM Sans", sans-serif;

$font-size-extrabig: 48px;
$font-size-big: 32px;
$font-size-normal: 22px;
$font-size-normal_1: 18px;
$font-size-small: 16px;
$fint-size-small_1: 14px;
$font-size-small_2: 12px;