<section>
  <header>
    <div class="header_wrapper">
      <div class="backdrop"></div>
      <div class="logo">
        <a href=""><img class="logo_light" src="./images/logo_light.svg" alt="logo" /></a>
        <a href=""><img class="logo_dark" src="./images/logo_dark.svg" alt="logo" /></a>
      </div>

      <div class="home_shopping_list">
        <a class="home_link" href="/src/index.html"><span class="home_text">HOME</span></a>
        <a class="shopping_link" href="/src/shoppingList.html">
          <p class="shopping-list_text">SHOPPING&nbspLIST</p>
          <img
            class="lock-icon"
            src="./images/icon-cart.svg"
            width="16"
            height="16"
            alt="icon of icon-cart"
          />
          <img
            class="lock_icon-dark"
            src="./images/icon_cart-white.svg"
            width="16"
            height="16"
            alt="icon of cart"
          />
        </a>
      </div>

      <div class="menu_flex">
        <div class="switcher_button">
          <label class="switch">
            <input type="checkbox" id="themeSwitch" />

            <img
              class="light_mode"
              src="./images/icon_Switcher 2.svg"
              width="48"
              height="24"
              alt="switch light"
            />
            <img
              class="dark_mode"
              src="./images/icon_Switcher 3.svg"
              width="48"
              height="24"
              alt="switch dark"
            />
          </label>
        </div>
        <div class="button_login">
          <button type="submit" class="btn_log-in" data-modal-open>
            <img src="./images/button_sign_up.svg" width="184" height="48" alt="button image" />
          </button>
        </div>

        <button type="submit" class="stefan_btn">
          <img class="stefan" src="./images/stephen.svg" width="30" height="30" />
          <span class="stefan_name">-</span
          ><img
            class="arrow_stefan"
            src="./images/arrow_stefan.svg"
            width="23"
            height="26"
            alt="arrow icon"
          />
        </button>

        <div class="mobile_nav">
          <button type="submit" class="hamburger_open">
            <img
              class="hamburger_open-svg"
              src="./images/icon_align-left.svg"
              width="48"
              height="48"
              alt="open icon"
            />
            <img
              class="hamburger_open-svg-white"
              src="./images/align-left-white.svg"
              width="48"
              height="48"
              alt="open icon"
            />
          </button>
          <button type="submit" class="hamburger_close">
            <img
              class="hamburger_close-img"
              src="./images/icon_x-close.svg"
              width="48"
              height="48"
              alt="x icon"
            />
            <img
              class="img_dark-close"
              src="./images/icon-x-close-white.svg"
              width="48"
              height="48"
              alt="x icon"
            />
          </button>
        </div>
      </div>
    </div>
  </header>

  <div class="modal_signup is_hidden">
    <button class="modal_singup_close" type="submit">
      <img class="icon_light" src="./images/icon_x-close.svg" width="40" height="40" alt="x icon" />
      <img
        class="icon_dark"
        src="./images/icon-x-close-white.svg"
        width="40"
        height="40"
        alt="x icon"
      />
    </button>
    <form class="modal_signup-form">
      <fieldset class="modal_signup-field-name">
        <input
          class="modal_input-name"
          type="text"
          name="username"
          id="username"
          placeholder="NAME"
        />
      </fieldset>
      <fieldset class="modal_signup-field-email">
        <input
          class="modal_input-mail"
          type="email"
          name="usermail"
          id="usermail"
          placeholder="EMAIL"
        />
        <img
          class="modal_input-icon-mail"
          src="./images/icon_mail-02.svg"
          width="28"
          height="28"
          alt="mail icon"
        />
        <img
          class="modal_input-icon-mail-white"
          src="./images/mail-02-white.svg"
          width="28"
          height="28"
          alt="mail icon"
        />
      </fieldset>
      <fieldset class="modal_signup-field-pass">
        <input
          class="modal_input-pass"
          type="password"
          name="password"
          id="password"
          autocomplete="off"
          placeholder="PASSWORD"
        />
        <img
          class="modal_input-icon-pass"
          src="./images/icon_lock-02.svg"
          width="28"
          height="28"
          alt="password icon"
        />
        <img
          class="modal_input-icon-pass-white"
          src="./images/lock-02-white.svg"
          width="28"
          height="28"
          alt="password icon"
        />
      </fieldset>
      <button type="submit" class="modal_btn">SIGN IN</button>

      <ul class="modal_list">
        <a class="modal_link" href=""><li>SIGN UP</li></a>
        <a class="modal_link" href=""><li>SIGN IN</li></a>
      </ul>
    </form>
  </div>

  <div class="modal_mobile">
    <div class="modal_mobile-flex">
      <button type="submit" class="btn_log-in-mobile">
        <img src="./images/button_sign_up.svg" width="184" height="48" alt="button log in mobile" />
      </button>
      <div class="img_css-mobile"></div>
    </div>
  </div>
</section>
