<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./sass/partials/_header.scss" />
    <style></style>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header_wrapper">
        <div class="logo">
          <a href=""
            ><img class="logo_light" src="./images/logo_light.svg" width="100" height="100"
          /></a>
          <a href=""
            ><img class="logo_dark" src="./images/logo_dark.svg" width="100" height="100"
          /></a>
        </div>
        <div class="modal_signup">
          <button class="modal_singup_close" type="submit">
            <img src="./images/icon_x-close.svg" width="24" height="24" />
          </button>
          <form class="modal_signup-form">
            <fieldset class="modal_signup-field">
              <label class="modal_signup-name" for="username">NAME</label>
              <input class="modal__input" type="text" name="username" id="username" />
            </fieldset>
            <fieldset class="modal_signup-field">
              <label class="modal_signup-email" for="usermail">EMAIL</label>
              <input class="modal__input" type="email" name="usermail" id="usermail" />
            </fieldset>
            <fieldset class="modal_signup-field">
              <label class="modal_signup-password">PASSWORD</label>
              <input class="modal__input" type="password" name="password" id="password" />
            </fieldset>
            <button type="submit" class="modal_btn">SIGN UP</button>
            <ul>
              <a href=""><li>SIGN UP</li></a>
              <a href=""><li>SIGN IN</li></a>
            </ul>
          </form>
        </div>
        <div class="home_shopping_list">
          <span class="home_text">HOME</span>
          <p class="shoping-list_text">
            SHOPPING&nbspLIST
            <img class="lock-icon" src="./images/icon_lock-02.svg" width="24" height="24" />
          </p>

          <!-- <img class="lock-icon" src="../images/icon_lock-02.svg" width="24" height="24" /> -->
        </div>

        <div class="switcher_button">
          <label class="switch">
            <input type="checkbox" id="themeSwitch" />

            <img class="light_mode" src="./images/icon_Switcher 2.svg" width="48" height="48" />
            <img class="dark_mode" src="./images/icon_Switcher 3.svg" width="48" height="48" />
          </label>
        </div>
        <div class="button_login">
          <button type="submit" class="btn_log-in" data-modal-open>
            <img src="./images/button_sign_up.svg" width="184" height="48" />
          </button>
          <button type="submit" class="btn_log-out-desktop">
            <img src="./images/button_log_out_desktop.svg" width="184" height="48" />
          </button>
          <button type="submit" class="btn_log-out-mobile">
            <img src="./images/button_log_out_mobile.svg" width="118" height="48" />
          </button>
        </div>
        <div class="mobile_nav">
          <button type="submit" class="hamburger_open">
            <img
              class="hamburger_open-svg"
              src="./images/icon_align-left.svg"
              width="48"
              height="48"
            />
            <img
              class="hamburger_open-hover"
              src="./images/icon_align-lef_hovert.svg"
              width="48"
              height="48"
            />
          </button>
          <button type="submit" class="hamburger_close">
            <img class="hamburger_close" src="./images/icon_x-close.svg" width="48" height="48" />
            <img
              class="hamburger_close-hover"
              src="./images/icon_x-close_hover.svg"
              width="48"
              height="48"
            />
          </button>
        </div>
      </div>
    </header>
    <script src="./js/header.js"></script>
  </body>
</html>
