<section>
  <div class="home">
    <div class="common-container">
      <div class="left-section">
        <div class="categories-block">
          <ul class="categories-list" id="categoriesList">
            <li class="categoryTop selected-category" id="bestSellers">All categories</li>
            <!-- Dynamicznie wypełniane za pomocą JavaScript -->
          </ul>
        </div>
      </div>

      <!-- <div class="slider container">
        <div class="slider_main">
          <div class="slider_head">
            Support Ukraine
            <svg class="slider_head-logo">
              <use href="/src/images/herb.svg#icon-emblem"></use>
            </svg>
          </div>
          <div class="slider_items" id="charitiesSlider"></div>
        </div>
        <div class="arrow" id="arrow">
          <i class="fas fa-chevron-up"></i> -->
          <!-- Strzałka do góry -->
        <!-- </div>
      </div> -->
      <include src="./partials/support.html"></include>
    </div>

    <div class="books-list-block">
      <h2 class="main-title" id="bestSellersHeader">
        Best Sellers <span class="blue-text">Books</span>
      </h2>
      <ul class="books-list" id="booksList">
        <!-- dynamicznie wypełniane JavaScript -->
      </ul>
    </div>
    <!-- <div class="shopping-list">
      <h2 class="main-title" id="bestSellersHeader">Shopping <span class="books">List</span></h2>
      <ul class="shoplist" id="shoppBookList"> -->
    <!-- dynamicznie wypełniane JavaScript -->
    <!-- </ul>
      <div class="empty-shopping-list">
        <p class="empty-shopping-list__title">
          This page is empty, add some books and proceed to order.
        </p>
        <img
          class="empty-shopping-list__img"
          src="./images/empty-shopping.svg"
          alt="four books stacked on top for each other"
          width="265"
          height="198"
        />
      </div>
    </div> -->
  </div>

  <div id="bookCardContainer"></div>
  <button class="scroll-btn" id="scrollBtn"><i class="fas fa-chevron-up"></i></button>
</section>
<script src="/src/js/scroll-up.js"></script>
