<section>
  <div class="home">
    <div class="common-container">
      <div class="left-section">
        <div class="categories-block">
          <ul class="categories-list" id="categoriesList">
            <li class="categoryTop selected-category" id="bestSellers">All categories</li>
            <!-- Dynamicznie wypełniane za pomocą JavaScript -->
          </ul>
        </div>
      </div>
      <include src="./partials/support.html"></include>
    </div>

    <div class="books-list-block">
      <h2 class="main-title" id="bestSellersHeader">
        Best Sellers <span class="blue-text">Books</span>
      </h2>
      <ul class="books-list" id="booksList">
        <!-- dynamicznie wypełniane JavaScript -->
      </ul>
    </div>
  </div>

  <div id="bookCardContainer"></div>
  <button class="scroll-btn" id="scrollBtn"><i class="fas fa-chevron-up"></i></button>
</section>
<script src="/src/js/scroll-up.js"></script>
