<section class="home">

<div class="left-section" >
  <div class="categories-block">
    <h2 class="categories-title">ALL CATEGORIES</h2>
    <ul class="categories-list" id="categoriesList">
      <li class="categoryTop" id="bestSellers">Best Sellers Books </li>
      <!-- Dynamicznie wypełniane za pomocą JavaScript -->
    </ul>
  </div>

  <div class="slider container">
    <div class="slider_main">
        <div class="slider_head">Support Ukraine 
          <svg class="slider_head-logo" >
            <use href="/src/images/herb.svg#icon-emblem"></use>
          </svg></div>
        <div class="slider_items">
            <div class="slider_item">01 Fundacja 1</div>
            <div class="slider_item">02 Fundacja 2</div>
            <div class="slider_item">03 Fundacja 3</div>
            <div class="slider_item">04 Fundacja 4</div>
            <div class="slider_item">05 Fundacja 5</div>
            <div class="slider_item">06 Fundacja 6</div>
            <div class="slider_item">07 Fundacja 7</div>
            <div class="slider_item">08 Fundacja 8</div>
            <div class="slider_item">09 Fundacja 9</div>
        </div>
    </div>
    <div class="arrow" onclick="scrollSlider()">
        <i class="fas fa-chevron-up"></i> <!-- Strzałka do góry -->
    </div>
</div>
</div >
  <div class="books-list-block">
    <h2 class="main-title" id="bestSellersHeader">Best Sellers <span class="books">Books</span></Books></h2>
    <ul class="books-list" id="booksList">
      <!-- dynamicznie wypełniane JavaScript -->
    </ul>
    <button class="category-button">See more</button>
  </div>
  <div id="bookCardContainer"></div>
</section>
<script src="/src/js/swipper.js"></script>