.is_hidden {
  display: none;
}
.icon_light {
  display: block;
}
.lock-icon {
  display: block;
}
.modal_mobile {
  display: none;
}
.lock_icon-dark {
  display: none;
}

.modal_input-icon-pass-white {
  display: none;
}
.modal_input-icon-pass-white {
  display: none;
}
.img_dark-close {
  display: none;
}
.hamburger_open-svg-white {
  display: none;
}

.img_dark-close {
  display: none;
}
.mobile-nav {
  display: none;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}

.logo {
  height: 28px;
}
.logo_dark {
  display: none;
}
.light_mode {
  width: 40px;
  height: 24px;
}
.dark_mode {
  display: none;
  width: 40px;
  height: 24px;
}
.btn_log-out-desktop {
  display: none;
}
.btn_log-out-mobile {
  display: none;
}
.hamburger_open {
  display: none;
}
.hamburger_close {
  display: none;
}

.header_wrapper {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1.5px solid black;
  border-radius: 0px 0px 8px 8px;
  background-color: inherit;
}

.logo {
  position: absolute;
  left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_shopping_list {
  display: none;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20%;
  margin-left: 76px;
  cursor: pointer;
}
.shoping-list_text {
  border: none;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.shopping_link {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-left: 40px;
  z-index: 5;
}
.shopping_link:hover::after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  // bottom: -13;
  // left: -25;
  background-color: #eac645;
  width: 180px;
  height: 45px;
  border-radius: 150px 150px 150px 150px;
  z-index: -1;
  color: black;
}
.home_link {
  background-color: inherit;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.home_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;

  z-index: 2;
}
.home_link:hover::after {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // top: -13;
  // left: -10;
  background-color: #eac645;
  width: 70px;
  height: 45px;
  border-radius: 150px 150px 150px 150px;
  z-index: 1;
}
.lock-icon {
  margin-left: 5%;
  fill: #fff;
}

.menu_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10;
}
.button_login {
  background-color: inherit;
}

.switcher_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

#themeSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.stefan_btn {
  display: none;
  width: 184px;
  height: 48px;
  background-color: #4f2ee8;
  border-radius: 150px 150px 150px 150px;
  cursor: pointer;
  position: relative;
  border: 1px solid black;
  gap: 40px;
}
.stefan {
  position: absolute;
  top: 8;
  left: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stefan_name {
  position: absolute;
  top: 12;
  left: 60;
  color: white;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.arrow_stefan {
  position: absolute;
  top: 9;
  right: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_log-in {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.backdrop {
  position: fixed;
  display: none;

  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4f2ee8;
  z-index: 15;
  background-image: radial-gradient(circle at top left, #786be7 1%, #4f2ee8 50%);
}

.modal_signup {
  position: absolute;
  left: 0;
  right: 0;
  top: 50;
  bottom: 50;
  z-index: 55;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 18px;

  max-width: 579px;

  width: 100%;

  border: 2px solid black;
  z-index: 55;
}

.modal_signup-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 15%;
}

.modal_signup-field-name {
  background-color: inherit;
  position: relative;
  border-radius: 150px 150px 150px 150px;
  max-width: 499px;
  width: 80%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_signup-field-email {
  background-color: inherit;
  border-radius: 150px 150px 150px 150px;
  position: relative;
  max-width: 499px;
  width: 80%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_signup-field-pass {
  background-color: inherit;
  border-radius: 150px 150px 150px 150px;
  position: relative;
  max-width: 499px;
  width: 80%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
::placeholder {
  color: inherit;
}
.modal_input-name {
  border: none;
  max-width: 286px;
  width: 60%;
  height: 24px;
  background-color: #f6f6f6;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15;
  left: 20;
  position: absolute;
}
.modal_input-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  max-width: 286px;
  width: 60%;
  height: 24px;
  top: 15;
  left: 20;
  position: absolute;
  background-color: #f6f6f6;
  color: black;
}
.modal_input-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  max-width: 286px;
  width: 60%;
  height: 24px;
  background-color: #f6f6f6;
  top: 15;
  left: 20;
  position: absolute;
  color: black;
}
.modal_singup_close {
  position: absolute;
  top: 15;
  right: 20;
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
}

.modal_btn {
  max-width: 499px;
  width: 80%;
  height: 64px;
  background-color: black;
  color: #f6f6f6;
  border-radius: 150px 150px 150px 150px;
  cursor: pointer;
  text-align: center;
}

.modal_input-icon-mail {
  position: absolute;
  top: 15;
  right: 40;
}
.modal_input-icon-mail-white {
  display: none;
  position: absolute;
  top: 15;
  right: 40;
}
.modal_input-icon-pass {
  position: absolute;
  top: 15;
  right: 40;
}
.modal_input-icon-pass-white {
  display: none;
  position: absolute;
  top: 15;
  right: 40;
}
.modal_list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal_link {
  text-decoration: none;
  color: grey;
  display: flex;
}
.modal_link:hover {
  text-decoration-line: underline;
  color: rgb(25, 4, 58);
}

@media screen and (max-width: 767px) {
  .is_hidden {
    display: none;
  }

  .header_wrapper {
    max-width: 100vw;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: '#f6f6f6';
    border: 1.5px solid black;
    border-radius: 0px 0px 8px 8px;
  }

  .home_shopping_list {
    display: none;
  }
  .button_login {
    display: none;
  }

  .hamburger_open {
    display: block;

    border: none;
    background-color: inherit;
  }

  .hamburger_close {
    display: none;

    border: none;
    background-color: inherit;
  }
  .stefan_btn {
    display: none;
  }
  .btn_log-out-mobile {
    display: block;
  }
  .modal_mobile {
    display: none;
    width: 100vw;

    position: absolute;
    top: 70;
    border: 1px solid black;
    background: linear-gradient(180deg, #4f2ee8 35%, rgba(255, 255, 255, 1) 100%);
    z-index: 100;
  }
  .modal_mobile-flex {
    display: flex;
    flex-direction: column;
  }
  .img_css-mobile {
    height: 100vw;
    height: 439px;
    position: relative;
    background-image: url('/src/images/modal-mobile-books.png');
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 60%;
  }
  .btn_log-in-mobile {
    width: 184px;
    margin-top: 10%;
    margin-left: 5%;
    background-color: #4f2ee8;
    border: none;
  }
  .btn_log-out-mobile {
    position: absolute;
    left: 20;
    bottom: 20;
    background-color: inherit;
    border: none;
    display: none;
  }
  .modal_signup {
    width: 90%;
  }
  .stefan_btn {
    display: none !important;
  }
  .stefan_div-mobile {
    width: 118x;
    height: 48px;
    background-color: inherit;
    display: flex;

    gap: 10px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .stefan-mobile {
    display: none;
  }
  .stefan_name-mobile {
    color: white;
    font-size: larger;
    text-transform: uppercase;
  }

  .home_shopping_list-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    position: relative;
    margin: 50% auto;
  }

  .shoping-list_text-mobile {
    color: inherit;
  }
  .shopping_link-mobile {
    display: none;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
  }
  .shopping_link-mobile:hover::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -13;
    left: -25;
    background-color: #eac645;
    width: 180px;
    height: 45px;
    border-radius: 150px 150px 150px 150px;
    z-index: -1;
  }

  .home_link-mobile {
    display: none;
    background-color: inherit;
    text-decoration: none;
    color: inherit;
  }

  .home_text-mobile {
    color: inherit;
  }
  .home_link-mobile:hover::after {
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -13;
    left: 20;
    background-color: #eac645;
    width: 70px;
    height: 45px;
    border-radius: 150px 150px 150px 150px;
    z-index: -1;
  }
  .cart-mobile {
    position: absolute;
    bottom: 0px;
    left: 120px;
  }
}
