body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.home {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;

  @include tablet {}

  @include desktop {
    display: flex;
  }
}

//dodanie klasy common-container obejmującej listę gatunków i slider support
.common-container {
  @include tablet {
    //display: inline-flex;
  }

  @include desktop {}
}

.book-list-block {
  @include desktop {
    padding-left: 40px;
  }
}


.left-section {
  width: 335px;
  height: 628px;
}

.categories-title {
  color: #4f2ee8;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: e9e9e0;
}



/*  stylizacja listy kategorii */
.categories-block {
  overflow-y: scroll;
  width: 356px;
  height: 472px;

}

.categories-block li {
  color: #202024;
  font-size: 18px;
  list-style: none;
  line-height: 32px;
  padding: 18px 0;
  cursor: pointer;
}

.categories-block li:hover {
  color: var(--violet);
  font-size: 18px;
  list-style: none;
  line-height: 32px;
  padding: 18px 0;
  cursor: pointer;
}

.charities-slider-block {
  padding: 142px 20px 0 20px;
  width: 356px;
}


//best sellers books title
.main-title {

  white-space: nowrap;
  color: black;
  width: 360px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -4%;
  line-height: 38px;
  text-align: center;
  padding: 0 0 40px 80px;
}

.books {
  color: #4f2ee8;
}





.image-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  list-style: none;
}

//stylizacja tytułu i autora
.book-title {
  color: #111111;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -4%;
  padding: 14px 0 4px 0;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -4%;
  padding-bottom: 20px;
}

.category-section {
  margin-left: 20px;
  margin-bottom: 20px;
}

.category-title {
  color: #b4afaf;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
}

.category-list {
  display: grid;
  justify-items: center;
  align-items: stretch; // był flex
  grid-template-columns: 1fr; // dodane
  list-style: none;
  overflow: hidden;

  @include tablet {
    // dla tablet i desktop dodane
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(5, 1fr);
  }
}

.category-button {
  position: absolute;
}

.image-container {

  // Dla tabletów (szerokość powyżej 768px)
  @include tablet {
    width: 218px;
    /* Szerokość obrazków dla tabletów */
    height: 316px;
    object-fit: contain;
  }

  // Dla ekranów desktop (szerokość powyżej 1200px)
  @include desktop {
    width: 180px;
    /* Szerokość obrazków dla ekranów desktop */
    height: 256px;
    object-fit: contain;
  }

  // Dla innych przypadków (domyślnie)
  width: 335px;
  /* Domyślna szerokość obrazków */
  height: 485px;
  object-fit: contain;
}