body {
  margin: 0;
  padding: 0;
  background-color: var(--lighygrey);
}

.home {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 20px 0;
  

  @include desktop {
    display: flex;
  }
}

//dodanie klasy common-container obejmującej listę gatunków i slider support
.common-container {
    display: flex;
    flex-direction:column;
    align-items:center;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
  }

  @include desktop {
    flex-direction: column;
    height: 1000px;
  }
}

.left-section {
  width: 335px;
  height: 228px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 40px;
  position: relative;

@include tablet {
  height: 474px;
      margin-bottom:0px;
  }
}


.categories-title {
  color: var(--dark-violet);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightgrey);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lightgrey);
}

//------------------------
/*  stylizacja listy kategorii */
.categories-block {
  overflow-y: scroll;
  width: 335px;
  height: 228px;
  margin-bottom: 40px;
  @include tablet {
    width: 337px;
    height: 472px;
    margin-bottom: 0px;
  }
  @include desktop {
    width: 356px;
    height: 472px;
    margin-bottom: 86px;
  }
}

.categories-block li {
  
  font-size: 18px;
  list-style: none;
  line-height: 18px;
  padding: 12px 0;
  cursor: pointer;
  @include tablet {
    padding: 18px 0;
    line-height: 24px;
  }
}
.categories-block li:first-child {
  padding-top: 0;
}
.categories-block li:last-child {
  padding-bottom: 0;
}

.categories-block li:hover {
  color: var(--violet);
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

.charities-slider-block {
  //padding: 142px 20px 0 20px;
  width: 356px;
}

//---stylowanie głównej części okna home i category

.books-list-block {
  @include tablet {
    margin: 0 32px;
  }
}

.main-title {
  color: var(--black);
  white-space: nowrap;
  max-width: 700px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 38px;
  text-align: left;
  position:relative;
  margin: 40px 0 40px 20px;

  @include tablet {
    font-size: 48px;
    line-height: 52px;
    margin: 40px 40px; 
  }

  @include desktop {
    font-size: 48px;
    line-height: 52px;
    margin: 40px 40px; 
  }
}

.blue-text {
  color: var(--violet);
}

//klasa do stylowania listy ul określonej kategorii ksążek
.books_category-list{
  display: grid;
  justify-items: center;
  align-items: stretch;          // był flex
  grid-template-columns: 1fr;    // dodane
  margin-right: 10px;
  list-style: none;
  overflow: hidden;

  @include tablet {
    // dla tablet i desktop dodane
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(5, 1fr);
    margin-left: 30px;
    gap:24px;
  }
}


//klasa do stylowania kategorii "All categories" - best seller books
.books-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  
  @include tablet {
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: row;
    margin-left: 20px;
  }
}

.image-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  list-style: none;
  width: 335px;
    @include tablet {
    width: 316px;
  }
  @include desktop {
    width: 180px;
  }
}

.image-container img {
  width: 335px;
  height: 485px;
  @include tablet {
      width: 218px;
      height: 316px;
    }
    @include desktop {
      width: 180px;
      height: 256px;
    }
}

//stylizacja tytułu i autora
.book-title {
  color: var(--black);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  padding: 14px 0 4px 0;

  @include tablet {
    width: 218px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include desktop {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.book-author {
  color: var(--grey);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  padding-bottom: 20px;

   @include tablet {
    max-width: 316px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include desktop {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.category-section {
  margin: 0 auto 10px;
  @include tablet {
    width: 100vw;
  }
  @include desktop {
    width: auto;
  }
}

.category-title {
  color: var(--grey);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 10px 0;
}

.category-list {
  display: grid;
  justify-content: space-evenly;
  align-items: stretch;       // był flex
  grid-template-columns: 1fr; // dodane
  list-style: none;
  overflow: hidden;

  @include tablet {
    // dla tablet i desktop dodane
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(5, 1fr);
    gap:24px;
    margin-left: 10px;
    justify-items: center;
  }
}

.category-list li:nth-child(n+2) {
    display: none;
    @include tablet {
    display: grid;
    }
}
.category-list li:nth-child(n+4) {
    @include tablet {
      display: none;
    }
    @include desktop {
      display: grid;
    }
}


                  //--obejmuje obrazek , tytuł i autora---
.list-container{
  justify-items: center;
}

.category-button {
  position: relative;
  border-radius: 40px;
  border: 2px solid;
  border-color: var(--violet);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 28px 14px 28px;
  background-color: transparent;
  right: -200px;
  cursor: pointer;
  @include tablet {
    margin-top: 20px;
    left: 72vw;
  }

  @include desktop {
    margin-top: 32px;
    left: 850px;
  }
}

.category-button:hover {
  background-color: var(--violet);
  color: var(--white);
}

.image-container {
  width: 335px;
  /* Domyślna szerokość obrazków */
  height: 485px;
  object-fit: contain;
  
  // Dla tabletów (szerokość powyżej 768px)
  @include tablet {
    width: 218px;
    /* Szerokość obrazków dla tabletów */
    height: 316px;
    object-fit: cover;
  }

  // Dla ekranów desktop (szerokość powyżej 1200px)
  @include desktop {
    width: 180px;
    /* Szerokość obrazków dla ekranów desktop */
    height: 256px;
    object-fit: contain;
  }
}

//----ustawienie stylu tytułów w sekcji bocznej
.category {
  color: #202024;
}
.categoryTop {
  color: var(--black_1);
}
.category.selected-category {
  font-weight: bold;
  color: var(--violet);
  text-transform: uppercase;
}
.categoryTop.selected-category {
  font-weight: bold;
  color: var(--violet);
  text-transform: uppercase;
}
//-----------------------------------------------
