.popup-card-container {
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  z-index: 1000;
  background-color: #1116;
  padding: 94px 15px;
  position: fixed;
  top: 0;
  left: 0;
}
.popup {
  z-index: 30;
  min-width: 300px;
  max-width: 600px;
  /* max-height: 100vh; */
  // color: var(--black);
  background-color: var(--white);

  border: 2px solid var(--black);
  border-radius: 18px;
  padding: 40px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-50%, -50%) scale(1);
}
.popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
  border: none;
}
button.popup-close-button .popup-iconx path {
  stroke: var(--black);
  fill: var(--black);
}
button.popup-close-button .popup-iconx:hover path {
  stroke: gold;
  fill: gold;
}
.add-to-cart-button {
  padding: 10px 20px;
  background-color: var(--white);
  border-radius: 40px;
  border: 2px solid var(--violet);
  cursor: pointer;
  color: var(--black);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  text-transform: uppercase;
  @include tablet {
    min-width: 499px;
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.33;
  }
}
.add-to-cart-button:hover {
  background-color: var(--violet);
  color: var(--white);
}
.popup-img {
  max-width: 250px;
  min-height: 408px;
  border: none;
  margin-bottom: 14px;
  background-color: inherit;

  @include tablet {
    height: 281px;
    margin-bottom: 0px;
  }
}
.popup-title {
  color: inherit;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  @include tablet {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.96px;
    margin-bottom: 5px;
  }
}
.popup-author {
  color: var(--grey);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
  margin-bottom: 18px;
  @include tablet {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    margin-bottom: 20px;
  }
}
.popup-button-position {
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: -0.4px;
  display: block;
}
.popup-authorandtitle {
  display: block;
}
.popup-desc {
  color: var(--black);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}
.popup-image-desc {
  @include tablet {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
}
.popup-list {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.add-to-cart-message {
  max-width: 242px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.5);
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.dark-mode .popup {
  background-color: #333;
}
