.title-span {
  color: var(--violet);
}
.shopping-list-container {
  display: flex;
}

.shopping-list-container .slider {
  display: none;
}

.shoplist {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.bookId {
  display: none;
}
.shopList-item {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 14px;
  height: 175px;
  width: 335px;
  border-radius: 16px;
  border: 2px solid var(--dark-violet);
  background: var(--white);
  box-shadow: 0px 4px 4px 0px var(--black_2);
  padding: 14px;
  margin: 0 20px;
}
.dark-mode .shopList-item {
  background-color: var(--black);
}

.remove-button {
  position: absolute;
  top: 14px;
  left: 293px;
  background-color: var(--violet);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  width: 28px;
  height: 28px;
}
.remove-button__icon {
  width: 16px;
  height: 16px;
}

.shopList-item__wrapp {
  display: flex;
  width: 100px;
  height: 142px;
}

.shopList-item__photo {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shopList-item__information {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.shopList-item__information > h1 {
  padding-bottom: 4px;
  color: inherit;
  font-size: var(--font-size-small);
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 144px;
}

.shopList-item__category {
  color: var(--grey);
  font-size: var(--font-size-small_2);
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.36px;
  padding-bottom: 8px;
  max-width: 155px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shopList-item__summary {
  display: block;
  min-width: 193px;
  min-height: 68px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.shopList-item__summary > p {
  color: inherit;
  font-size: var(--fint-size-small_1);
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  max-width: 180px;
  height: 54px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.shopList-item__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.shopList-item__author {
  color: var(--grey);
  font-size: var(--font-size-small_2);
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.shopList-item__icons {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.shopList-item__icons > a {
  text-decoration: none;
  cursor: pointer;
}

.icon-shopping {
  border-radius: 0;
}

.amazon-icon {
  transition: transform 200ms;
  width: 32px;
  height: 11px;
}
.dark-mode .amazon-icon {
  background-color: black;
}

.amazon-icon:hover,
.amazon-icon:focus {
  transform: scale(1.1);
}

.apple-icon {
  transition: transform 200ms;
  width: 16px;
  height: 16px;
}

.apple-icon:hover,
.apple-icon:focus {
  transform: scale(1.1);
}

.empty-shopping-list {
  display: flex;
  position: relative;
  left: 55px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  gap: 14px;
}

.empty-shopping-list__title {
  color: inherit;
  text-align: center;
  font-size: var(--fint-size-small_1);
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  max-width: 230px;
  padding-top: 80px;
}

.visible {
  display: flex;
}

@include tablet {
  .shopping-list-container .slider {
    display: none;
  }
  .shopList-item {
    padding: 24px;
    gap: 24px;
    height: 213px;
    width: 704px;
    margin: 0 32px;
  }
  .remove-button {
    top: 24px;
    left: 646px;
    width: 34px;
    height: 34px;
  }
  .remove-button__icon {
    width: 18px;
    height: 18px;
  }
  .shopList-item__wrapp {
    width: 116px;
    height: 165px;
  }
  .shopList-item__information > h1 {
    max-width: 300px;
  }

  .shopList-item__category {
    padding-bottom: 14px;
    max-width: 300px;
  }

  .shopList-item__summary {
    width: 508px;
    min-height: 53px;
    margin-bottom: 35px;
  }
  .shopList-item__summary > p {
    max-width: 508px;
  }

  .shopList-item__author {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .shopList-item__icons {
    gap: 18px;
    align-items: center;
  }

  .amazon-icon {
    width: 48px;
    height: 15px;
  }

  .apple-icon {
    width: 28px;
    height: 28px;
  }

  .empty-shopping-list {
    gap: 20px;
    left: 210px;
  }
  .empty-shopping-list__title {
    font-size: var(--font-size-normal_1);
    line-height: 1.33;
    letter-spacing: -0.36px;
    max-width: 350px;
    padding-top: 100px;
  }

  .empty-shopping-list__img {
    width: 322px;
    height: 241px;
  }
}

@include desktop {
  .shopping-list-container .slider {
    display: block;
    margin: 40px 0 0 24px;
  }
  .shopList-item {
    gap: 24px;
    width: 996px;
  }

  .remove-button {
    left: 938px;
  }

  .shopList-item__category {
    max-width: 100%;
    padding-bottom: 0px;
  }

  .shopList-item__summary {
    min-width: 808px;
    min-height: 53px;
    margin-bottom: 0px;
    padding-top: 14px;
    padding-bottom: 35px;
  }
  .shopList-item__summary > p {
    max-width: 100%;
  }

  .shopList-item__author {
    max-width: 100%;
  }

  .empty-shopping-list {
    left: 350;
  }
  .empty-shopping-list__title {
    font-size: var(--font-size-normal_1);
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.36px;
    width: 349px;
  }
}
